#!/bin/bash
##$ -pe 16cpn 16
#$ -pe smp 4

/bin/echo Running on host: `hostname`.
/bin/echo In directory: `pwd`
/bin/echo Starting on: `date`
/bin/echo "Got $NSLOTS slots."
/bin/echo

{{#globalFiles}}
mpirun -np $NSLOTS -wdir {{workingDir}} /Groups/IFC/.local/bin/asynch {{.}}
{{/globalFiles}}